.main {
    flex: 1;
    display: flex;
    justify-content: center;   
}

.container {
    display: flex;
    flex-direction: column;
    width: 1060px;
}

.container--header-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container--main {
    flex-direction: row;
    width: 1100px;
}



.content-block {
    width: 900px;
}

.maintitle {
    font-size: 49px;
    font-family: "roboto";
    color: rgb(34, 31, 31);
    font-weight: 700;
      
}

/* пагинация */

.pagination {
    display: flex;
    align-self: center;
    align-items: center;
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 65px 55px;
}

.pagination__title {
    font-weight: 300;
    margin-right: 10px;
}

.pagination__ref {
    display: inline-block;
    color: #000;
    padding: 4px 11px;
}

.pagination__arrow-l a {
    font-weight: 300;
}

.pagination__list {
    display: flex;
    margin-right: 10px;
}

.pagination__ref:hover {
    background: #f5f5f5;
    /* border: 1px solid #866e4f; */
    border-radius: 5px;
    color: #f89513;
    /* transform: scale(1.4); */
}

.pagination__item--activ a {
    background: #4b73b5;
    color: #fff;
    border-radius: 3px;
}