
.footer__content {
    width: 240px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.286; 
}

.footer__content-ref {
    font-weight: 700;
    color: #fff;
}

.footer__content-ref:hover {
    text-decoration: underline;
}



/* социалки */

.socials__title {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 10px;
}
  

.socials__list {
    display: flex;     
}

.socials__item {
    margin-right: 10px;
}

.socials__ref {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d2def3;
    transition: .5s;
}

.socials__ref:hover {
    background-color: #fff;
}

.socials__ref--vk {
    background-image: url('../img/icons/css_sprites.png'); 
    background-repeat: no-repeat;
    background-position: 3px 6px;
}

.socials__ref--fb {
    background-image: url('../img/icons/css_sprites.png'); 
    background-repeat: no-repeat; 
    background-position: 6px -110px;
}

.socials__ref--g {
    background-image: url('../img/icons/css_sprites.png'); 
    background-repeat: no-repeat; 
    background-position: 3px -21px;
}

.socials__ref--tw {
    background-image: url('../img/icons/css_sprites.png'); 
    background-repeat: no-repeat; 
    background-position: 4px -79px;
}

.socials__ref--m {
    background-image: url('../img/icons/css_sprites.png'); 
    background-repeat: no-repeat; 
    background-position: 4px -50px;
}
