







/* секция Тарифы */

.tariffs {
    margin-bottom: 92px;
}

.tariffs__list {
    display: flex;
    align-items: flex-start;
    padding-top: 60px;
}

.tariffs__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.tariffs__item:last-child {
    margin-right: 0;
}

.tariffs__icoblock {
    width: 70px;
    height: 70px;
    background-color: #4b73b5;
    border-radius: 50%;
    margin-bottom: 32px;
}

.tariffs__icoblock--standart {
    background: url('../img/standart.png') 
        center center no-repeat;
}

.tariffs__icoblock--premium {
    background: url('../img/premium.png') 
        center center no-repeat;
}

.tariffs__icoblock--luxury {
    background: url('../img/luxury.png') 
        center center no-repeat;
}

.tariffs__title {

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 19px;
}

.tariffs__content {
    width: 100%;
}

.tariffs__text {
    text-align: center;
    margin-bottom: 15px;
}

.tariffs__content-list {
    margin: 0 0 30px 26px;
}

.tariffs__content-item {
    margin-bottom: 9px;
}

.tariffs__content-item::before {
    content: "";
    width: 4px;
    height: 4px;
    display: inline-block;
    margin-right: 22px;
    background: #000;
    border-radius: 50%;
    vertical-align: middle;
}

.tariffs__price {
    width: 76px;
    height: 42px;
}

.tariffs__price--standart {
    background: url('../img/$19.png')
        center center no-repeat;
}

.tariffs__price--premium {
    background: url('../img/$39.png')
        center center no-repeat;
}

.tariffs__price--luxury {
    background: url('../img/$99.png')
        center center no-repeat;
}



/* article */
.article__list {

}

.article__item {
    display: flex;
    margin-bottom: 45px;
}

.article__imgblock {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 18px;
}

.article__img {
    width: 100%;
    height: 100%;
}

.article__content-block {
    width: 740px;
}

.article__date {
    font-size: 14px;
    color: rgb(101, 100, 100);
    margin-bottom: 3px;    
}

.article__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.article__text {
    font-size: 18px;
    font-family: "roboto";
    color: rgb(101, 100, 100);
    line-height: 1.7;
}
  
