* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.42;
}

.wrapper {
    min-width: 1140px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


